@model MvcOnlineTİcariOtomasyon.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Fatura Yönetimi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Rapor & Faturalar</li>
        <li class="breadcrumb-item"><a href="#">Fatura Ekle</a></li>

    </ol>
</div>

<form class="form-group" method="post">



    @Html.Label("Seri No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Sıra No")
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.FaturaTarih, new { @class = "form-control" })
    <br />
    @Html.Label("Saat")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Eden")
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />


    <button class="btn btn-success">Fatura Ekle</button>
</form>