@using MvcOnlineTİcariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Satış Yönetimi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Satışlar</a></li>
        <li class="breadcrumb-item active">Satış Detay</li>
    </ol>
</div>
<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
           <td>@x.SatisID</td>
           <td>@x.Urun.UrunAd</td>
           <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
           <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
           <td>@x.Fiyat</td>
           <td>@x.Adet</td>
           <td>@x.ToplamTutar</td>
           <td>@x.Tarih</td>
          
        </tr>
    }

</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>


